*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(218, 223, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header{
    color: white;
    background-color: rgb(4, 54, 6);
    text-align: center;
    height: 100px;
    align-items: top;
}
nav {
    background-color: rgb(1, 88, 1);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
nav ul  {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    display: flex;
}
nav ul li a {
    display: inline;
    text-decoration: none;
    color: white;
}
.container {
    font-size: 20px;
    width: 1000px;
    height: 500px;
    padding: 20px;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.44);
    margin: 100px auto 130px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 5px;
    border-radius: 10px;
}
footer {
    height: 75px;
    background-color: #04410c;
    color: white;
    text-align: center;
    padding: 10px ;
    bottom: 0;
    width: 100%;
    position: relative;
}